<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="apple-touch-icon" sizes="76x76" href="images/mii.png">
    <link rel="icon" type="image/png" href="images/mii.png">

    <div th:replace="fragments/master :: header"></div>
    <!-- Datatable -->
    <link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- PAGE TITLE HERE -->
    <title>Emloyee</title>
    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <div id="main-wrapper">
        <div th:replace="fragments/master :: nav-header"></div>
        <div th:replace="fragments/master :: navbar"></div>
        <div th:replace="fragments/master :: dlabnav"></div>


        <div class="content-body">
            <div class="container-fluid">

                <div class="row page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">History</a></li>
                    </ol>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Table History</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tbEMP" style="min-width: 845px" width="100%" class="display text-center">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Fasilitas</th>
                                                <th>Ruang</th>
                                                <th>Keterangan</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Nomor</th>
                                                <th>Name</th>
                                                <th>Fasilitas</th>
                                                <th>Ruang</th>
                                                <th>Keterangan</th>
                                                <th>Status</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Detail Request -->
    <div class="modal fade" id="detailRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure want to Approve ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container">
                    <div class="modal-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Name</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="name"></label>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Request ID</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="request_id"></label>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">date</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="date"></label>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Fasilitas</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="fasilitas"></label>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Ruang</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="ruang"></label>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Keterangan</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="keterangan"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center align-content-center">
                    <button id="approve" class="btn btn-rounded btn-success" data-bs-dismiss="modal"><span class="btn-icon-start text-success"><i
                                class="fa fa-check"></i>
                        </span>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/master :: script"></div>
    <!-- Datatable -->
    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

    <script th:src="@{/js/history.js}"></script>

</body>

</html>