<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="apple-touch-icon" sizes="76x76" href="images/mii.png">
    <link rel="icon" type="image/png" href="images/mii.png">

    <div th:replace="fragments/master :: header"></div>
    <!-- Datatable -->
    <link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- PAGE TITLE HERE -->
    <title>Emloyee</title>
    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <div id="main-wrapper">
        <div th:replace="fragments/master :: nav-header"></div>
        <div th:replace="fragments/master :: navbar"></div>
        <div th:replace="fragments/master :: dlabnav"></div>


        <div class="content-body">
            <div class="container-fluid">

                <div class="row page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">History</a></li>
                    </ol>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Table History</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tbEMP" style="min-width: 845px" width="100%" class="display text-center">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Fasilitas</th>
                                                <th>Ruang</th>
                                                <th>Keterangan</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Nomor</th>
                                                <th>Name</th>
                                                <th>Fasilitas</th>
                                                <th>Ruang</th>
                                                <th>Keterangan</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Detail Request -->
    <div class="modal fade" id="detailRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure want to Approve ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container">
                    <div class="modal-body">
                        <input type="hidden" id="id">
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Name</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="nameT"></label>
                                <input type="hidden" class="col-form-label" id="name"></input>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">date</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="dateT"></label>
                                <input type="hidden" class="col-form-label" id="date"></input>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Ruang</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="ruangT"></label>
                                <input type="hidden" class="col-form-label" id="ruang"></input>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Fasilitas</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="fasilitasT"></label>
                                <input type="hidden" class="col-form-label" id="fasilitas"></input>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Keterangan</label>
                            </div>
                            <div class="col-auto">
                                <label>: </label>
                                <label class="col-form-label" id="keteranganT"></label>
                                <input type="hidden" class="col-form-label" id="keterangan"></input>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-2">
                                <label for="inputPassword6" class="col-form-label">Reason</label>
                            </div>
                            <div class="col-10">
                                <textarea class="form-control border border-dark" rows="4" style="height:200px"
                                    id="reason"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center align-content-center">
                    <button class="btn btn-rounded btn-success" id="approve"><span class="btn-icon-start text-success"
                            id="approve"><i class="fa fa-check" id="approve"></i>
                        </span>Done</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal History Detail -->
    <div class="modal fade" id="detailHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container">
                    <div class="modal-body">
                        <table id="tbHST" width="100%" class="display text-center">
                            <thead>
                                <tr>
                                    <th> No </th>
                                    <th> PIC </th>
                                    <th> Ruang </th>
                                    <th> Fasilitas </th>
                                    <th> Keterangan </th>
                                    <th> Status </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center align-content-center">
                    <button class="btn btn-rounded btn-danger" id="tutup" onclick="tutup()"><span
                            class="btn-icon-start text-danger"><i class="fa fa-times"></i>
                        </span>Close</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/master :: script"></div>
    <!-- Datatable -->
    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

    <script th:src="@{/js/historyits.js}"></script>

</body>

</html>