<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="apple-touch-icon" sizes="76x76" href="images/mii.png">
    <link rel="icon" type="image/png" href="images/mii.png">

    <div th:replace="fragments/master :: header"></div>
    <!-- Datatable -->
    <link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- PAGE TITLE HERE -->
    <title>Emloyee</title>
    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <div id="main-wrapper">
        <div th:replace="fragments/master :: nav-header"></div>
        <div th:replace="fragments/master :: navbar"></div>
        <div th:replace="fragments/master :: dlabnav"></div>


        <div class="content-body">
            <div class="container-fluid">

                <div class="row page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Request</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Request</a></li>
                    </ol>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Form Request</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form th:method="POST" th:action="@{/request}" th:object="${requestDTO}">
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="hidden" th:value="${idEmp}" name="employee" id="employee"
                                                class="form-control">
                                            <div class="mb-3 mt-4 row  d-flex align-items-center">
                                                <label class="col-3 col-form-label">Gambar</label>
                                                <div class="col-9">
                                                    <div class="input-group mb-3">
                                                        <div class="form-file">
                                                            <input type="file" class="form-file-input form-control"
                                                                th:field="*{gambar}">
                                                        </div>
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-3 col-form-label">Keterangan</label>
                                                <div class="col-9">
                                                    <textarea class="form-control" rows="4" id="comment"
                                                        style="height:200px" th:field="*{keterangan}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3 row  d-flex align-items-center">
                                                <label class="col-3 col-form-label">Ruang</label>
                                                <div class="col-9">
                                                    <select multiple="" class="default-select form-control wide mt-3">
                                                        <option th:each="ruang : ${ruangs}" th:text="${ruang.name}"
                                                            th:value="${ruang.id}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row d-flex align-items-center">
                                                <label class="col-3 col-form-label">Fasilitas</label>
                                                <div class="col-9">
                                                    <!-- <select multiple="" class="default-select form-control wide mt-3">
                                                        <option th:each="fasilitas : ${fasilitas}"
                                                            th:text="${fasilitas.id +' - '+ fasilitas.name +' '+ fasilitas.keterangan}"
                                                            th:value="${fasilitas.id}">
                                                        </option>
                                                    </select> -->
                                                    <select multiple="" class="default-select form-control wide mt-3"
                                                        th:field="*{fasilitasruang}">
                                                        <option th:each="fasilitasRuangs : ${fasilitasRuangs}"
                                                            th:text="${fasilitasRuangs.fasilitas.name}"
                                                            th:value="${fasilitasRuangs.id}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-rounded btn-info"><span
                                                class="btn-icon-start text-info"><i class="fa fa-plus color-info"></i>
                                            </span>Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div th:replace="fragments/master :: script"></div>
    <!-- Datatable -->
    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

    <script th:src="@{/js/employee.js}"></script>

</body>

</html>