<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="apple-touch-icon" sizes="76x76" href="images/mii.png">
    <link rel="icon" type="image/png" href="images/mii.png">

    <div th:replace="fragments/master :: header"></div>
    <!-- Datatable -->
    <link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- PAGE TITLE HERE -->
    <title>Request</title>
    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <div id="main-wrapper">
        <div th:replace="fragments/master :: nav-header"></div>
        <div th:replace="fragments/master :: navbar"></div>
        <div th:replace="fragments/master :: dlabnav"></div>


        <div class="content-body">
            <div class="container-fluid">

                <div class="row page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Request</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Request</a></li>
                    </ol>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Form Request</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form th:method="POST" th:action="@{/request}" th:object="${requestDTO}"
                                    enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="hidden" th:value="${idEmp}" name="employee" id="employee">
                                            <input type="hidden" th:value="${nameEmp}" name="picName" id="picName">
                                            <div class="mb-3 mt-4 row  d-flex align-items-center">
                                                <label class="col-3 col-form-label">Gambar</label>
                                                <div class="col-9">
                                                    <div class="input-group mb-3">
                                                        <div class="form-file">
                                                            <input type="file" name="image"
                                                                accept="image/png, image/jpeg"
                                                                class="form-file-input form-control" id="image"
                                                                style="filter: drop-shadow(0 2x 1px black);">
                                                        </div>
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-3 col-form-label">Keterangan</label>
                                                <div class="col-9">
                                                    <textarea class="form-control border border-dark" rows="4"
                                                        id="comment" style="height:200px;"
                                                        th:field="*{keterangan}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3 row  d-flex align-items-center">
                                                <label class="col-3 col-form-label">Ruang</label>
                                                <div class="col-9">
                                                    <select id="ruangSel" onchange="myFunction()"
                                                        class="form-control wide mt-3 border border-dark">
                                                        <option th:each="ruang : ${ruangs}" th:text="${ruang.name}"
                                                            th:value="${ruang.id}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row d-flex align-items-center">
                                                <label class="col-3 col-form-label">Fasilitas</label>
                                                <div class="col-9">
                                                    <select th:field="*{fasilitasruang}"
                                                        class="form-control wide mt-3 border border-dark fasilitasSel">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-rounded btn-success"
                                            style="filter: drop-shadow(0 2px 1px black);"><span
                                                class="btn-icon-start text-success"><i
                                                    class="fa fa-plus color-success"></i>
                                            </span>Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div th:replace="fragments/master :: script"></div>
    <script>
        function myFunction() {
            const ruangId = $('#ruangSel :selected').val()
            // let fasilitasSel = $('#fasilitasSel').val([0].indexOf.name)
            // let id = $('#ruangSel').val()
            // console.log(id)
            // console.log("tesssss")
            // document.getElementById("selIdi").innerHTML = "I have changed!";
            $.ajax({
                type: 'GET',
                url: `/fasilitasruang/getByRuang/${ruangId}`,
                dataType: 'json',
                contentType: ''
            }).done((result) => {
                $('.fasilitasSel').html('')
                result.forEach(data => {

                    $('.fasilitasSel').append(
                        `<option id="${data.id}" name="${data.id}" value="${data.id}">${data.fasilitas.name}</option>`
                    )

                })
                // let res = result.ruang
                //   document.getElementById("selId").innerHTML = res;
                // $('#selId').text(res);
                //      $('#id').val(result.id);
                // console.log(res)
            }).fail((error) => {
                console.log(error);
            });

        }
    </script>
    <!-- Datatable -->
    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

</body>

</html>