<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="apple-touch-icon" sizes="76x76" href="images/mii.png">
    <link rel="icon" type="image/png" href="images/mii.png">

    <div th:replace="fragments/master :: header"></div>
    <!-- Datatable -->
    <link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- PAGE TITLE HERE -->
    <title>Employee</title>
    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <div id="main-wrapper">
        <div th:replace="fragments/master :: nav-header"></div>
        <div th:replace="fragments/master :: navbar"></div>
        <div th:replace="fragments/master :: dlabnav"></div>


        <div class="content-body">
            <div class="container-fluid">

                <div class="row page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Employee</a></li>
                    </ol>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Table Employee</h4>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-rounded btn-success" data-bs-toggle="modal"
                                            data-bs-target="#addEmployee"><span class="btn-icon-start text-success"><i
                                                    class="fa fa-plus color-success"></i>
                                            </span>Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tbEMP" style="min-width: 845px" width="100%" class="display text-center">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Detail Employee -->
        <div class="modal fade" id="detailEmployee" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="container">
                        <div class="modal-body">
                            <input type="hidden" id="id">
                            <div class="row">
                                <div class="col-2">
                                    <label for="inputPassword6" class="col-form-label">Name</label>
                                </div>
                                <div class="col-auto">
                                    <label>: </label>
                                    <label class="col-form-label" id="name"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="inputPassword6" class="col-form-label">Email</label>
                                </div>
                                <div class="col-auto">
                                    <label>: </label>
                                    <label class="col-form-label" id="email"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="inputPassword6" class="col-form-label">Phone Number</label>
                                </div>
                                <div class="col-auto">
                                    <label>: </label>
                                    <label class="col-form-label" id="phoneNumber"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="inputPassword6" class="col-form-label">Role</label>
                                </div>
                                <div class="col-auto">
                                    <label>: </label>
                                    <label class="col-form-label" id="role"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="exampleInputEmail1" class="form-label">Add New Role</label>
                                </div>
                                <div class="col-auto">
                                    <label>: </label>
                                    <select multiple="" class="default-select form-control" id="roleInp">
                                        <option th:each="role : ${roles}" th:text="${role.name}"
                                            th:value="${role.id}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="updateRole">Add New Role</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Add Employee -->
        <div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="container">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Input Name</label>
                                <input class="form-control" id="nameInp" aria-describedby="emailHelp"
                                    placeholder="Aldo Mananta...">
                                <label for="exampleInputEmail1" class="form-label">Input Email</label>
                                <input type="email" class="form-control" id="emailInp" aria-describedby="emailHelp"
                                    placeholder="aldom432@gmail.com...">
                                <label for="exampleInputEmail1" class="form-label">Input Phone Number</label>
                                <input type="number" class="form-control" id="phoneNumberInp"
                                    aria-describedby="emailHelp" placeholder="085713226...">
                                <label for="exampleInputEmail1" class="form-label">Input Username</label>
                                <input class="form-control" id="usernameInp" aria-describedby="emailHelp"
                                    placeholder="aldo...">
                                <label for="exampleInputEmail1" class="form-label">Input Password</label>
                                <input class="form-control" id="passwordInp" aria-describedby="emailHelp"
                                    placeholder="aldo...">
                                <label for="exampleInputEmail1" class="form-label">Input Role</label>
                                <select multiple="" class="default-select form-control wide mt-3" id="roleInp">
                                    <option th:each="role : ${roles}" th:text="${role.name}"
                                        th:value="${role.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="createEmployee">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/master :: script"></div>
    <!-- Datatable -->
    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

    <script th:src="@{/js/employee.js}"></script>

    <!-- sweet alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>